body {
    background-color: gainsboro;
    margin: 0;
    height: 100 vh;
    text-align: center;
}

 .game-container {
    background-color: aqua;
    width: 600px;
    height: 600px;
}

 .message-container {
    background-color: white;
    width: 100%;
    height: 50px;
} 

/* Assuming 20x20 grid of 2px*2px boxes */
 .board {
    background-color: coral;
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

 .game-info {
    background-color: white;
    width: 100%;
    height: 50px;
}

.game-footer {
    background-color: coral;
    width: 100%;
    height: 50px;
} 